.loginPage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
}

.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 30%;
}

.logoContainer {
    width: 60px;
    height: 60px;
}

.logoContainer > * {
    width: 100%;
    height: 100%;
    color: var(--secondary);
}

.logoText {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary);
}

.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 32px 32px 0 0;
    padding: 32px 0;
    background-color: var(--bg-gray);
}

.imageContainer {
    position: relative;
    height: 108px;
}

.imageContainer > * {
    position: absolute;
    left: 0;
    right: 0;
    top: -120%;
    margin: auto;
    width: 80%;
    height: auto;
}

.textBold {
    text-align: center;
    font-weight: bold;
}

.backButtonContainer {
    position: absolute;
    left: 16px;
    top: 16px;
}