.profilePage {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    padding: 24px 0;
    overflow-y: scroll;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.logOutContainer {
    padding: 24px 0;
}