.message {
    display: flex;
    justify-content: left;
    padding: 0 8px;
}

.message.sentBySelf {
    justify-content: right;
}

.messageBubble {
    width: 66%;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--bg-gray);
}

.message.sentBySelf > .messageBubble {
    background-color: var(--tertiary);
}